.card {
    border-radius: 6px;
    background-color: white;
    position: absolute;
    bottom: 35%;
    height: 300px;
  }

  @media screen and (max-width: 450px) {
    .card{
      border-radius: 0px;
      width: fit-content;
      background-color: transparent;
      height: 300px;
      margin-left: 12%
    }
}