.download-modal{
    display: flex;
    flex-direction: column;
}
.download-button{
     height: fit-content;
     border-radius: 5px;
     border: 1px solid rgb(63, 63, 63);
     padding: 5px 10px;
     font-size: 1rem;
     margin-top: 0.5rem;
     font-weight: 800;
     cursor: pointer;
     margin-left: 10px;
}
.download-button:hover{
    background-color: rgb(218, 159, 159);
}
.modal-actions{
    display: flex;
    justify-content: space-between;
    
}
.modal-actions p{
    font-weight: 600;
    font-size: 1rem;
    text-decoration: dashed;
    margin-top: 1.6rem;
    text-transform: uppercase;
    color:rgb(240, 41, 41);
}
@media screen and (max-width: 1300px) {
    .download-button{
       margin-left: 8px;
       font-size: 10px;
       padding: 3px 5px;
   }
}