.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal {
    position: fixed;
    top: 5vh;
    background-color: rgb(216, 200, 200);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 80;
    animation: slide-down 300ms ease-out forwards;
    overflow-y: auto; /* Add this line for scrollable content */
  }
  .modal::-webkit-scrollbar{
    width:2px;
  }
  @media (min-width: 768px) {
    .modal {
      width: 40rem;
      left: calc(55% - 20rem);
    }
  }
  
  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }