/* Styles for the Splitter Component */
#normal-interface {
    display: none;
}

/* Flexbox container for splitting */
.split {
    display: flex;
    flex-direction: row;
    height: 100%;
}

/* Left Pane styles */
.left-pane {
    background-color: rgb(226, 201, 201);
    min-width: 25vw;
    max-width: 35vw;    
    /* Ensures pane height adapts to content */
    position: relative;
}

/* Gutter styles */
.gutter {
    background-color: rgb(225, 182, 182);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    width: 10px !important;
    cursor: ew-resize !important;
    height: 90vh;
}

/* Horizontal gutter styles */
.gutter.gutter-horizontal {
    background-image: url('/src/assets/dividershort.svg');
    cursor: ew-resize !important;
}

/* Hover and active states for gutter */
.gutter:hover,
.gutter:active {
    background-color: rgb(146, 201, 244);
}

/* Right Pane styles */
.right-pane {
    min-width: 65vw;
    height: 100%;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 767px) {
    #splitter {
        display: none;
    }

    #normal-interface {
        display: block;
        position: relative;
        height: 92vh; /* Adjusted for header and padding */
    }

    .top-content {
        width: 100%;
    }

    .prompt-container {
        /* Ensure the prompt container is positioned properly on small screens */
        /* If specific positioning is needed, add here */
          /* position: absolute;
            top:0px;
            right: 30px; */
    }
}
