/* General Styles */
.chat-container,
.chat-container-one {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 15px;
}

.chat-container {
    height: 18vh;
}

.chat-container-one {
    height: 10vh;
    margin-top: 2.5rem;
}

/* Style Container Styles */
.style-container,
.style-container-one {
    width: 95%;
    height: 95%;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    border: 2px solid snow;
}

.style-container-one {
    margin-top: 5px;
}

/* Chat Form Styles */
.chat-form {
    display: flex;
    width: 95%;
    height: 45px;
    background-color: #e7dfdf;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.chat-img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgba(99, 97, 97, 0.587);
    filter: blur(0.6px);
}

/* Header Styles */
.header,
.header-one {
    display: flex;
    align-items: center;
    font-size: smaller;
    font-weight: bold;
    font-family: cursive;
    margin: 0 10px;
    position: absolute;
    border-radius: 5px;
    background: #df4040;
    z-index: 3;
}

.header {
    bottom: 25%;
}

.header-one {
    bottom: 22%;
}

/* Prompt Input Styles */
.prompt-input,
.prompt-window {
    width: 95%;
    height: 100%;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    padding: 10px;
    background-color: #fff;
}

.prompt-input {
    resize: none;
}

.prompt-window {
    font-size: medium;
}

.prompt-input::-webkit-scrollbar {
    width: 8px;
}

.prompt-input::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 4px;
    background-color: #6e6e6e;
}

.prompt-input:focus {
    outline: none;
}

/* Send Button Styles */
.send-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 10px;
}

.send-icon {
    width: 30px;
    height: 26px;
}

/* Feedback Button Styles */
.feedback-button {
    position: fixed;
    z-index: 5;
    bottom: 140px;
    right: 1px;
    font-family: Roboto;
    padding: 3px;
    cursor: pointer;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .chat-container {
        height: 20vh;
        margin-top: 0;
    }

    .chat-container-one {
        height: 18vh;
        margin-top: 0;
    }

    .style-container-one {
        border-radius: 5px;
        margin-top: 0;
        height: 3.5rem;
    }

    .header,
    .header-one {
        bottom: 18%;
    }

    .feedback-button {
        bottom: 26%;
    }
}

@media screen and (max-width: 400px) {
    .chat-container {
        margin-top: 10px;
    }

    .chat-container-one {
        height: 15vh;
        margin-top: 0;
    }

    .style-container {
        width: 100%;
        border-radius: 20px;
        height: 80%;
    }

    .style-container-one {
        margin-top: 0;
        height: fit-content;
    }

    .prompt-window {
        width: 100%;
        border-radius: 20px;
    }

    .header,
    .header-one {
        bottom: 16%;
    }

    .feedback-button {
        bottom: 90px;
    }
}
