.container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 30rem;
    margin-left: 30%;
}
@media screen and (max-width: 768px) {
    .container{
  
        width: 25rem;
        margin-left: 12rem;
    }
}

@media screen and (max-width: 450px) {
    .container{
  
        width: 25rem;
        margin-left: 1rem;
    }
}